[submodule "Java/Maven/hearts-github"]
	path = Java/Maven/hearts-github
	url = https://github.com/endorlabs/hearts-github
[submodule "Java/Maven/webgoat"]
	path = Java/Maven/webgoat
	url = https://github.com/webgoat/webgoat
[submodule "Java/Maven/biojava"]
	path = Java/Maven/biojava
	url = https://github.com/biojava/biojava
[submodule "Python/baselines"]
	path = Python/baselines
	url = https://github.com/openai/baselines
[submodule "Python/MetaGPT"]
	path = Python/MetaGPT
	url = https://github.com/geekan/MetaGPT
[submodule "Python/changedetection.io"]
	path = Python/changedetection.io
	url = https://github.com/dgtlmoon/changedetection.io
[submodule "Python/Resume-Matcher"]
	path = Python/Resume-Matcher
	url = https://github.com/srbhr/Resume-Matcher
[submodule "Java/Maven/app-java-demo"]
	path = Java/Maven/app-java-demo
	url = https://github.com/endorlabs/app-java-demo
[submodule "dotNET/dotNET-ewok"]
	path = dotNET/dotNET-ewok
	url = https://github.com/endor-matt/dotNET-ewok
[submodule "dotNET/MudBlazor"]
	path = dotNET/MudBlazor
	url = https://github.com/MudBlazor/MudBlazor
[submodule "dotNET/ryujinx"]
	path = dotNET/ryujinx
	url = https://github.com/ryujinx/ryujinx
[submodule "Java/Gradle/jmeter"]
	path = Java/Gradle/jmeter
	url = https://github.com/apache/jmeter
[submodule "Go/copilot-gpt4-service"]
	path = Go/copilot-gpt4-service
	url = https://github.com/aaamoon/copilot-gpt4-service
[submodule "JavaScript/npm/LibreChat"]
	path = JavaScript/npm/LibreChat
	url = https://github.com/danny-avila/LibreChat
[submodule "Java/Maven/langchain4j"]
	path = Java/Maven/langchain4j
	url = https://github.com/langchain4j/langchain4j
[submodule "Java/Gradle/OpenSearch"]
	path = Java/Gradle/OpenSearch
	url = https://github.com/opensearch-project/OpenSearch
[submodule "Java/Maven/jenkins"]
	path = Java/Maven/jenkins
	url = https://github.com/jenkinsci/jenkins
[submodule "Java/Gradle/termux-app"]
	path = Java/Gradle/termux-app
	url = https://github.com/termux/termux-app
[submodule "Java/Gradle/conductor"]
	path = Java/Gradle/conductor
	url = https://github.com/conductor-oss/conductor
[submodule "PHP/joomla-platform"]
	path = PHP/joomla-platform
	url = https://github.com/joomla/joomla-platform
[submodule "PHP/joomla-cms"]
	path = PHP/joomla-cms
	url = https://github.com/joomla/joomla-cms
[submodule "PHP/Twig"]
	path = PHP/Twig
	url = https://github.com/twigphp/Twig
[submodule "Go/packer-plugin-amazon"]
	path = Go/packer-plugin-amazon
	url = https://github.com/hashicorp/packer-plugin-amazon
[submodule "JavaScript/npm/homepage"]
	path = JavaScript/npm/homepage
	url = https://github.com/gethomepage/homepage
[submodule "Scala/delta-sharing"]
	path = Scala/delta-sharing
	url = https://github.com/delta-io/delta-sharing
[submodule "Ruby/simple_form"]
	path = Ruby/simple_form
	url = https://github.com/heartcombo/simple_form
